<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/lib/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/demo.css">
    <script type="text/javascript" src="__PUBLIC__/static/admin/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/admin/lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/demo.js"></script>
</head>

<body>
    {include file="Public/header" /}
    <div class="container-fluid">
        <div class="row">
            {include file="Public/sidebar" /}
            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
                <ol class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li class="active">栏目管理</li>
                </ol>
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:url('cate/add')}"><i class="icon-font"></i>新增栏目</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>栏目名称</th>
                                <th>栏目类型</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 使用循环输出标签将模板cateres中的数据输出到模板上 -->
                            {volist name="cateres" id="vo"}
                            <tr>
                                <td>{$vo.ID}</td>
                                <td><a href="#" title="{$vo.catename}">{$vo.catename}</a></td>
                                <!-- 使用if条件判断标签对输出的模板数据判断后输出 -->
                                <td>
                                    {if condition="$vo.type neq 0"}列表
                                    {else /} 留言板
                                    {/if}
                                </td>
                                <td>
                                    <a href="{:url('edit',array('id'=>$vo.ID))}">修改</a>
                                    <!-- 删除栏目，使用助手函数url调用当前控制器的del方法，将当前栏目的ID赋给参数id传到控制器中 -->
                                    <!-- 点击删除给一个弹窗判断 -->
                                    <a href="{:url('del',array('id'=>$vo.ID))}" onclick="return confirm('确定删除该栏目？')">删除</a>
                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>