<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/lib/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/admin/css/demo.css">
    <script type="text/javascript" src="__PUBLIC__/static/admin/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/admin/lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/admin/js/demo.js"></script>
</head>
<body>
    {include file="Public/header" /}
    <div class="container-fluid">
        <div class="row">
            {include file="Public/sidebar" /}
            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
                <ol class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">管理员管理</a></li>
                    <li class="active">管理员修改</li>
                </ol>
                <div class="result-wrap">
                    <div class="result-content">
                        <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{$admins.id}">
                            <table class="insert-tab" width="100%">
                                <tbody>
                                    <tr>
                                        <th width="10%">管理员名称：</th>
                                        <td>
                                            <input class="common-text required" id="title" name="username" size="50" value="{$admins.username}" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>密码：</th>
                                        <td>
                                            <input class="common-text" name="password" size="50" value="" type="password">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>